@page
@model Talle.App.Front.Pages.EditarRevisionesModel
@{
    <form method="post">
        <div class="row">
            <div class="mb-3 col-4">
                <label for="entradaId" class="form-label col-form-label">Id *</label>
                <input type="text" class="form-control" id="entradaId" name="RevisionId" required asp-for="@Model.revisionActual.RevisionId" disabled="true">
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="entradaFechaEntrada" class="form-label col-form-label">Fecha Entrada
                        *</label>
                    <input type="date" class="form-control" id="entradaFechaEntrada"
                        asp-for="@Model.revisionActual.FechaEntrada" name="FechaEntrada" required disabled="true">
                </div>
                <div class="mb-3 col-6">
                    <label for="entradaFechaSalida" class="form-label col-form-label">Fecha Salida *</label>
                    <input type="date" class="form-control" id="entradaFechaSalida" rows="3"
                        asp-for="@Model.revisionActual.FechaSalida" name="FechaSalida" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="entradaObservaciones" class="form-label col-form-label">Observaciones
                        *</label>
                    <input type="text" class="form-control" id="entradaObservaciones" rows="3"
                        asp-for="@Model.revisionActual.Observaciones" name="Observaciones" required>
                </div>
                <div class="mb-3 col-6">
                    <label for="entradaVehiculoId" class="form-label col-form-label">Vehiculo *</label>
                    <input class="form-control" id="entradaVehiculoId" name="Vehiculo"
                        asp-for="@Model.vehiculoActual.Placa" disabled="true">

                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="entradaMecanicoId" class="form-label col-form-label">Mecanico *</label>
                    <input class="form-control" id="entradaMecanicoId" name="Mecanico"
                        asp-for="@Model.mecanicoActual.Nombre" name="Mecanico" required disabled="true">
                </div>
                <div class="mb-3 col-6">
                    <label for="entradaRepuestoId" class="form-label col-form-label">Repuesto *</label>
                    <select class="form-select" id="entradaRepuestoId" aria-label="Selecciona una Opción"
                        asp-for="@Model.repuestoActual.RepuestoId" name="RepuestoId" required>
                        @foreach (var m in @Model.listaRepuestos)
                        {
                            <option value="@m.RepuestoId">@m.RepuestoId - @m.Nombre</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <a asp-page="/Revisiones/ListadoRevisiones" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary" asp-page-handler="Editar" asp-route-revisionId="@Model.revisionActual.RevisionId">Editar</button>
    </form>
}
