@page
@model Taller.App.Front.Pages.ListadoRevisionesModel
@{
}

<div class="class-contain-title">
    <h4>Adicionar una Revisión<i class="bi bi-plus-square-fill class-icon-add" title="Agregar Revisión"
            data-bs-toggle="modal" data-bs-target="#idModalMecanico"></i></h4>
    <form class="form-inline class-search-bar">
        <input type="search" class="form-control mr-sm-2" id="inputBuscar" placeholder="Buscar">
        <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Buscar</button>
    </form>
</div>
<hr class="border border-primary border-3 opacity-75">
<h3>Datos Revisiones</h3>
<div>
    <form class="">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Id</th>
                    <th scope="col">Fecha Entrada</th>
                    <th scope="col">Fecha Salida</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Id Vehiculo</th>
                    <th scope="col">Id Mecanico</th>
                    <th scope="col">Id Respuesto</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var re in @Model.listaRevisiones)
                {
                    <tr>
                        <td>@re.RevisionId</td>
                        <td>@re.FechaEntrada</td>
                        <td>@re.FechaSalida</td>
                        <td>@re.Observaciones</td>
                        <td>@re.VehiculoId</td>
                        <td>@re.MecanicoId</td>
                        <td>@re.RepuestoId</td>
                        <td style="display: flex;">
                            <i class="bi bi-pencil-fill class-icon-edit"></i>
                            <form method="post">
                                <button class="bi bi-trash3-fill class-icon-del" asp-route-id="@re.RevisionId"
                                asp-page-handler="EliminarRevision" type="submit"></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<div class="modal fade" id="idModalMecanico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un Mecanico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="entradaId" class="form-label col-form-label">Id *</label>
                            <input type="text" class="form-control" id="entradaId" name="RevisionId" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaFechaEntrada" class="form-label col-form-label">Fecha Entrada
                                    *</label>
                                <input type="date" class="form-control" id="entradaFechaEntrada"
                                    asp-for="@Model.revisionActual.FechaEntrada" name="FechaEntrada" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaFechaSalida" class="form-label col-form-label">Fecha Salida *</label>
                                <input type="date" class="form-control" id="entradaFechaSalida" rows="3"
                                    asp-for="@Model.revisionActual.FechaSalida" name="FechaSalida" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaObservaciones" class="form-label col-form-label">Observaciones
                                    *</label>
                                <input type="text" class="form-control" id="entradaObservaciones" rows="3"
                                    asp-for="@Model.revisionActual.Observaciones" name="Observaciones" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaVehiculoId" class="form-label col-form-label">Id Vehiculo *</label>
                                <input type="date" class="form-control" id="entradaVehiculoId" rows="3"
                                    asp-for="@Model.revisionActual.VehiculoId" name="VehiculoId" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaVehiculoId" class="form-label col-form-label">Id Mecanico *</label>
                                <input type="text" class="form-control" id="entradaVehiculoId" rows="3"
                                    asp-for="@Model.revisionActual.MecanicoId" name="MecanicoId" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaRepuestoId" class="form-label col-form-label">Id Repuesto *</label>
                                <input type="text" class="form-control" id="entradaRepuestoId" rows="3"
                                    asp-for="@Model.revisionActual.RepuestoId" name="RepuestoId" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary"
                                    asp-page-handler="AgregarMecanico">Agregar</button>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>
