@page
@model Taller.App.Front.Pages.RegistroPropietarioModel
@{
}

<div class="class-contain-title">
    <h4>Adicionar un Propietario <i class="bi bi-plus-square-fill class-icon-add" title="Agregar Mecánico"
            data-bs-toggle="modal" data-bs-target="#idModalMecanico"></i></h4>
    <form class="form-inline class-search-bar">
        <input type="search" class="form-control mr-sm-2" id="inputBuscar" placeholder="Buscar">
        <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Buscar</button>
    </form>
</div>
<hr class="border border-primary border-3 opacity-75">
<h3>Datos Propietarios</h3>
<div>
<form class="">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Rol</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in @Model.listaClientes)
            {
                <tr>
                    <td>@m.ClienteId</td>
                    <td>@m.Nombre</td>
                    <td>@m.Apellido</td>
                    <td>@m.Telefono</td>
                    <td>@m.Rol</td>
                    <td>@m.CiudadResidencia</td>
                    <td>@m.Correo</td>
                    <td style="display: flex;">
                        <i class="bi bi-pencil-fill class-icon-edit"></i>
                        <form method="post">
                            <button class="bi bi-trash3-fill class-icon-del" asp-route-id="@m.ClienteId"
                            asp-page-handler="EliminarCliente" type="submit"></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
</div>
<div class="modal fade" id="idModalMecanico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un Propietario/h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="entradaId" class="form-label col-form-label">Id *</label>
                            <input type="text" class="form-control" id="entradaId" asp-for="@Model.clienteActual.ClienteId" name="ClienteId" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaNombres" class="form-label col-form-label">Nombres *</label>
                                <input type="text" class="form-control" id="entradaNombres"
                                    asp-for="@Model.clienteActual.Nombre" name="Nombre" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaApellidos" class="form-label col-form-label">Apellidos *</label>
                                <input type="text" class="form-control" id="entradaApellidos" rows="3"
                                    asp-for="@Model.clienteActual.Apellido" name="Apellido" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaCelular" class="form-label col-form-label">Número de celular
                                    *</label>
                                <input type="text" class="form-control" id="entradaCelular" rows="3"
                                    asp-for="@Model.clienteActual.Telefono" name="Telefono" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaFechaNacimiento" class="form-label col-form-label">Fecha de
                                    nacimiento *</label>
                                <input type="date" class="form-control" id="entradaFechaNacimiento" rows="3"
                                    asp-for="@Model.clienteActual.FechaNacimiento" name="FechaNacimiento" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaCorreo" class="form-label col-form-label">Correo Electrónico *</label>
                                <input type="email" class="form-control" id="entradaCorreo" rows="3"
                                    asp-for="@Model.clienteActual.Correo" name="Correo" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaCiudadResidencia" class="form-label col-form-label">Ciudad de Residencia *</label>
                                <select class="form-select" id="entradaCiudadResidencia" aria-label="Selecciona una Opción"
                                    asp-for="@Model.clienteActual.CiudadResidencia" name="CiudadResidencia" required>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Bogotá">Bogotá</option>
                                    <option value="Cali">Cali</option>
                                    <option value="Cali">Cali</option>
                                    <option value="Medellín">Medellín</option>
                                    <option value="Meta">Meta</option>
                                    <option value="Villavicencio">Villavicencio</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="entradaContrasenia" class="form-label">Contraseña *</label>
                                <input type="password" class="form-control" id="entradaContrasenia" rows="3"
                                    asp-for="@Model.clienteActual.Contrasenia" name="Contrasenia" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="entradaRol" class="form-label">Rol *</label>
                                <select class="form-select" id="entradaRol" asp-for="@Model.clienteActual.Rol"
                                    name="Rol" required>
                                    <option value="Cliente">Propietario</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary"
                                asp-page-handler="AgregarCliente">Agregar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
